
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background: #121212;
}

.container {
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    text-align: center;
}

a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.avatar.content-default {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2rem 0;
}

.title.content-default {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
    text-align: center;
    -webkit-letter-spacing: -0.02em;
    -moz-letter-spacing: -0.02em;
    -ms-letter-spacing: -0.02em;
    letter-spacing: -0.02em;
}

.description.content-default {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
}

.grid.content-default {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 1.5rem;
}

.card.content-default {
    background: #282828;
    color: #ffffff;
    margin: 1rem;
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 1px solid #282828;
    border-radius: 10px;
    -webkit-transition: color 0.15s ease, border-color 0.15s ease;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card.content-default:hover,
.card.content-default:focus,
.card.content-default:active {
    color: #ffffff;
    border-color: #ffffff;
}

.card.content-default h3.content-default {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card.content-default p.content-default {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width:700px) {
    .avatar.content-default {
        width: 120px;
        height: 120px;
        margin-bottom: 2rem;
    }
    .title.content-default {
        line-height: 1;
        font-size: 2rem;
    }
    .grid.content-default {
        width: 100%;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 0rem;
    }
    .card.content-default {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .card.content-default h3.content-default {
        margin: 0 0 0.5rem 0;
        font-size: 1.5rem;
    }
}
